.vs/Project2.slnx/FileContentIndex/475c3856-2f14-453e-8239-85a3efeb1f87.vsidx
.vs/Project2.slnx/FileContentIndex/9af2699c-2e95-44f9-8ba9-574bb81d102e.vsidx
.vs/Project2.slnx/v18/.suo
.vs/Project2.slnx/v18/DocumentLayout.backup.json
.vs/Project2.slnx/v18/DocumentLayout.json
.vs/Project2.slnx/v18/Insiders/Browse.VC.db
.vs/Project2.slnx/v18/Insiders/Solution.VC.db
.vs/Project2.slnx/v18/Insiders/ipch/4e21d80474b6117d.ipch
.vs/Project2.slnx/v18/Insiders/ipch/AutoPCH/1152abf33bbedba5/MAIN.ipch
.vs/Project2.slnx/v18/Insiders/ipch/AutoPCH/3405afbe7a181c72/ARRAY_UTILS.ipch
.vs/Project2.slnx/v18/Insiders/ipch/AutoPCH/3d24d190893919b2/INPUT.ipch
.vs/Project2.slnx/v18/Insiders/ipch/AutoPCH/4ad7bc0956d1db15/TEST.ipch
.vs/Project2.slnx/v18/Insiders/ipch/AutoPCH/4da8bd20de13c293/THREADS.ipch
.vs/Project2.slnx/v18/Insiders/ipch/AutoPCH/a0c50e0f0e75be1/INPUT.ipch
.vs/Project2.slnx/v18/Insiders/ipch/AutoPCH/b5ff6b4a4f6ddeac/MAIN.ipch
.vs/Project2.slnx/v18/Insiders/ipch/AutoPCH/c6c66eea40c4efc9/ARRAY_UTILS.ipch
.vs/Project2.slnx/v18/Insiders/ipch/AutoPCH/d089d23c8f661288/THREADS.ipch
.vs/Project2.slnx/v18/TestStore/0/000.testlog
.vs/Project2.slnx/v18/TestStore/0/testlog.manifest
.vs/Project2/v18/Insiders/Solution.VC.db
.vs/Project2/v18/Insiders/Solution.VC.db-shm
.vs/Project2/v18/Insiders/Solution.VC.db-wal
".vs/\320\237\321\200\320\276\320\265\320\272\321\202 2.slnx/FileContentIndex/0a07a884-ea76-48fe-8caa-19f15df4e86b.vsidx"
".vs/\320\237\321\200\320\276\320\265\320\272\321\202 2.slnx/FileContentIndex/781b5c2f-a6f5-4c4a-a585-61f2c9d4a711.vsidx"
".vs/\320\237\321\200\320\276\320\265\320\272\321\202 2.slnx/FileContentIndex/82f4f422-3a8e-48fa-a3f0-67fc50ee6187.vsidx"
".vs/\320\237\321\200\320\276\320\265\320\272\321\202 2.slnx/FileContentIndex/918ed7cd-f76b-4e6b-bf02-efdc10a930cb.vsidx"
".vs/\320\237\321\200\320\276\320\265\320\272\321\202 2.slnx/FileContentIndex/c563df1d-4cef-4614-b5b2-73fdc470ac37.vsidx"
Project2.slnx
Project2/x64/Debug/Project2.Build.CppClean.log
Project2/x64/Debug/Project2.exe.recipe
Project2/x64/Debug/Project2.ilk
Project2/x64/Debug/Project2.tlog/CL.command.1.tlog
Project2/x64/Debug/Project2.tlog/CL.read.1.tlog
Project2/x64/Debug/Project2.tlog/CL.write.1.tlog
Project2/x64/Debug/Project2.tlog/Cl.items.tlog
Project2/x64/Debug/Project2.tlog/Project2.lastbuildstate
Project2/x64/Debug/Project2.tlog/link.command.1.tlog
Project2/x64/Debug/Project2.tlog/link.read.1.tlog
Project2/x64/Debug/Project2.tlog/link.secondary.1.tlog
Project2/x64/Debug/Project2.tlog/link.write.1.tlog
Project2/x64/Debug/array_utils.obj
Project2/x64/Debug/input.obj
Project2/x64/Debug/main.obj
Project2/x64/Debug/threads.obj
Project2/x64/Debug/vc145.idb
Project2/x64/Debug/vc145.pdb
"Project2/x64/Debug/\320\236\320\241.exe.recipe"
"Project2/x64/Debug/\320\236\320\241.tlog/CL.command.1.tlog"
"Project2/x64/Debug/\320\236\320\241.tlog/CL.read.1.tlog"
"Project2/x64/Debug/\320\236\320\241.tlog/CL.write.1.tlog"
"Project2/x64/Debug/\320\236\320\241.tlog/Cl.items.tlog"
"Project2/x64/Debug/\320\236\320\241.tlog/link.command.1.tlog"
"Project2/x64/Debug/\320\236\320\241.tlog/link.read.1.tlog"
"Project2/x64/Debug/\320\236\320\241.tlog/link.secondary.1.tlog"
"Project2/x64/Debug/\320\236\320\241.tlog/link.write.1.tlog"
"Project2/x64/Debug/\320\236\320\241.tlog/\320\236\320\241.lastbuildstate"
"Project2/x64/Debug/\320\237\321\200\320\276\320\265\320\272\321\202 2.log"
"Project2/x64/Debug/\320\237\321\200\320\276\320\265\320\272\321\202 2.vcxproj.FileListAbsolute.txt"
"Project2/\320\237\321\200\320\276\320\265\320\272\321\202 2.vcxproj"
"Project2/\320\237\321\200\320\276\320\265\320\272\321\202 2.vcxproj.filters"
"Project2/\320\237\321\200\320\276\320\265\320\272\321\202 2.vcxproj.user"
TestProject/TestProject.vcxproj
TestProject/TestProject.vcxproj.filters
TestProject/TestProject.vcxproj.user
TestProject/pch.cpp
TestProject/pch.h
TestProject/x64/Debug/TestProject.Build.CppClean.log
TestProject/x64/Debug/TestProject.dll.recipe
TestProject/x64/Debug/TestProject.ilk
TestProject/x64/Debug/TestProject.log
TestProject/x64/Debug/TestProject.obj
TestProject/x64/Debug/TestProject.pch
TestProject/x64/Debug/TestProject.tlog/CL.command.1.tlog
TestProject/x64/Debug/TestProject.tlog/CL.read.1.tlog
TestProject/x64/Debug/TestProject.tlog/CL.write.1.tlog
TestProject/x64/Debug/TestProject.tlog/Cl.items.tlog
TestProject/x64/Debug/TestProject.tlog/TestProject.lastbuildstate
TestProject/x64/Debug/TestProject.tlog/link.command.1.tlog
TestProject/x64/Debug/TestProject.tlog/link.read.1.tlog
TestProject/x64/Debug/TestProject.tlog/link.secondary.1.tlog
TestProject/x64/Debug/TestProject.tlog/link.write.1.tlog
TestProject/x64/Debug/TestProject.vcxproj.FileListAbsolute.txt
TestProject/x64/Debug/pch.obj
TestProject/x64/Debug/threads.obj
TestProject/x64/Debug/vc145.idb
TestProject/x64/Debug/vc145.pdb
x64/Debug/Project2.exe
x64/Debug/Project2.pdb
x64/Debug/Test.exe
x64/Debug/Test.pdb
x64/Debug/TestProject.dll
x64/Debug/TestProject.exp
x64/Debug/TestProject.lib
x64/Debug/TestProject.pdb
"x64/Debug/\320\236\320\241.exe"
"x64/Debug/\320\236\320\241.pdb"
